<h1>About</h1>
<p>Welcome to the page about</p>

<p>If you want to know more about me, please click <a href="<%= me_path%>">here</a> !</p>

<p>If you want to know more about my group, please click <a href="<%= my_group_path%>">here</a> !</p>
