<h1>Home</h1>
<p>Home Sweet Home</p>

<p>To go back to the contact page, please click <a href="<%=contact_path%>">here</a> !</p>
<p>To go back to the about page, please click <a href="<%=about_path%>">here</a> !</p>

